 .section1 {
            background-color: #ffffff;
            padding: 20px;
            }
        .section2 {
            background-color: #d7f3c4;
            padding: 20px;
            }
        .section3 {
            background-color: #c4dda5;
            padding: 20px;
            }
        .section4 {
            background-color: #d1dab5;
            padding: 20px;
            }   
        .section5 {
            background-color: #cad4c5;
            padding: 20px;
          }

        .link1 {
            color: #ffffff
        }

        .link1:hover {
            color:rgb(0, 255, 200);
        }